.App {
  text-align: center;
}
.appbar {
  display: flex;
  justify-content: space-around;
}
.form-wrapper {
  margin-top: 48px;
}
.weather-container {
  width: 90%;
  margin: auto;
  margin-top: 24px;
  /* margin auto makes it so both sides have the same margin, requires width specification  */
}
.weather-container h2 {
  /* space means nesting (h2 of .weather-container) comma means chaining (h2 , x = h2 + x) */
  margin-bottom: 10px;
}
.flex-weathercards {
  display: flex;
  overflow-x: scroll;
}
.box {
  border: 1px solid black;
  /* 3 param: border thickness / style of border / color (no commas)  */
}
.box.icon {
  /* styles class of box icon */
  min-width: 175px;
  height: auto;
  margin: auto;
}